//Variables et mixin //

$primaryColor : rgb(32, 31, 31);
$secondaryColor : #e7e7e7;
$thirdColor :#f2f2f2;

@mixin robotoText{
    font-family: 'Roboto', cursive;
}

@mixin shirkhandTitle{
    font-family : 'Shrikhand', cursive;
    }

    
//Global//
    h1,
    h2,
    h3{
        @include shirkhandTitle();
    }

    p,
    span{
        @include robotoText();
    }

    *{
        padding: 0;
        margin: 0;
    }
    
    //mediaQuery pour mobile//
    @media (max-width : 767.98px){
    
//header//

header{
    padding-bottom : 15px;
    background-color: $secondaryColor;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
}

.entete{
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    width : 100%;
    img{
        height: 15%;
        width : 60%;
        padding-bottom : 7px;
        background-color: white;
        padding-left: 30%;
        padding-right : 30%;
        padding-top: 5%;
    }
    form{
        padding-top: 13px;
    }
}

    .rechercheEntete{
        background-color : $secondaryColor;
        input{
            background-color : $secondaryColor;
            border : none;
            padding-left : 30px;
            &::placeholder{
                font-weight: bold;
                color : black;
            }
        }
    }        

    .texteBouton{
        padding-top : 5%;
        padding-bottom: 20px;
        display : flex;
        flex-direction : column;
        justify-content: center;
        align-items: center;
        background-color: $thirdColor;
        h1{
            text-align: center;
            @include robotoText();
            padding :3% 10% 3% 10%;
        }
        p{
            text-align: center;
            padding-bottom: 5%;
        }
    }

        button{
            margin : 25px 0;
            color : white;
            border-radius : 39px;
            padding : 20px 40px;
            border-width: 0;
            color : white;
            background: linear-gradient(to bottom, rgb(249, 90, 249), rgb(166, 61, 166));
            cursor : pointer ;
            &:hover{
                background: linear-gradient(to bottom, #ff8ae0, #cc5c99);
            }
        }
        
    
    
    //Main//
    .fonctionnement{
        padding : 25px 5%;
        display : flex;
        flex-direction : column;
        h2{
            @include robotoText();
            margin-bottom: 30px;
        }
    }

    .etapeNumero{
        display : flex;
        align-items : center;
        padding: 25px 15px 25px 0;
        margin-bottom: 30px;
        border-radius: 15px;
        background-color: $thirdColor;
        p{
            margin-right : 10px;
        }
        i{
            margin-right : 10px;
            color: grey;
        }
    }

    .etapeNumero:hover{
        i{
            color: darkviolet;
        }
    }

    .numeroStyle{
        width : 20px;
        height : 20px;
        font-size : 12px;
        border-radius : 50%;
        background-color : darkviolet;
        color : white;
        display : flex;
        justify-content : center;
        align-items : center;
        margin-left : -8px;
    }

    .backgroundResto{
        background-color: $thirdColor;
        padding : 25px 20px 25px 20px;
        h2{
            @include robotoText();
            padding-left: 5%;
            padding-bottom : 20px;
        }
    }

    .restoConteneur{
        margin-top: 15px;
        display : flex;
        flex-direction : column ;
        .flexRestoConteneur{
            padding-bottom: 10px;
            display : flex;
            flex-direction : column;
            img{
                border-radius : 10px 10px 0% 0%;
                height : 150px;
                width : 100%;
                object-fit: cover;
            }
            h3{
                @include robotoText();
                padding-left : 10px;
            }
            
            .coeurEloigne{
                display : flex;
                align-items : center;
                justify-content : space-between;
                margin-top : 0;
                p{
                    padding-left : 10px;
                }
            }
        }
    }

    .coeur{
        position : relative;
        height : 30px;
        width : 30px;
    }

    .coeurPlein, .coeurVide{
        position : absolute;
        font-size : 25px;
        margin-top : -5px;
        transition : opacity 500ms ease;
    }

    .coeurVide{
        opacity : 1;
        color : black;
        &:hover{
            opacity : 0;
        }
    }

    .coeurPlein{
        opacity : 0;
        color : rgb(166, 61, 166);
        &:hover{
            opacity: 1;
        }
    }
    
    .etiquetteNouveau{
        position: relative;
        display: inline-block;
    }
    .etiquetteNouveau::after{
        content: "Nouveau";
        width: 63px;
        height: 20px;
        color: rgb(17, 133, 92);
        background-color: rgba(153, 244, 192, 0.985);
        right : 5%;
        bottom: 80%;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        position : absolute;
        border-radius : 5px;
    }

    .flexRestoConteneur{
        width: 90%;
        margin-left : 5%;
        margin-bottom: 20px;
        background-color: white;
        border-radius : 10px 10px 10% 10%;
        a{
        text-decoration: none;
        color : black;
    }
}

    //Footer//

    .footerAccueil{
        padding-left: 5%;
        background-color : #353535;
        color : white;
        h3{
            padding-top : 10px;
            font-weight: 400;
        }
        .flexFooterAccueil{
            padding-top: 10px;
            display : flex;
            flex-direction : column;
        }
    }
        .flexIconeTexte{
            margin-bottom: 6px;
            i{
                margin-right: 4px;
            }
        } 

        .flexIconeTexte span:hover{
            cursor : pointer;
        }

        
        @keyframes loaderAnimation {
            0% {
              transform: translateY(0);
            }
            30% {
                transform: translateY(200px);
            }
            100% {
              transform:  translateY(0px);
            }
          }
          
          @keyframes cacher {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
              visibility: hidden;
            }
          }
          
          @keyframes roule {
            0% {
              transform: rotate(0deg);
            }
            20% {
                transform: rotate(0deg);
            }
            22% {
                transform : rotate(10800deg);
            }
            100% {
              transform: rotate(108000deg); 
            }
          }
          
    
          
          #loader-position {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 9999;
            animation: cacher 1s ease 4s forwards;
          }
          
          .loader {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Shirkhand', cursive;
            font-weight: bolder;
            font-style: italic;
            font-size: 40px;
            animation: loaderAnimation 5s ease-in;
          }
          
          .tourneAnime {
            animation: roule 7s ease-in;
          }
    }
     //Mediaquery pour Tablettes et desktop//
    @media (max-width: 1500px) and (min-width: 768px) {

        header{
            width : 100%;
            background-color: $secondaryColor;
        }
        main, footer{
            width : 100%;
        }

        .entete{
            text-align: center;
            width: 100%;
            background-color : white;
            form{
                padding : 15px 50px;
            }
            img{
                width : 190px;
                height : 40px;
                background-color: white;
                padding: 10px 535px;
            }
        }

        .rechercheEntete input{
            background-color : $secondaryColor;
            border : none;
            padding-left : 30px;
            &::placeholder{
                font-weight: bold;
                color : black;
            }
        }
        

        .texteBouton{
            width : 100%;
            background-color: $thirdColor;
            text-align: center;
            padding : 10px 0 20px 0;
            h1{
                padding-bottom: 25px;
                @include robotoText();
            }
            p{
                padding-bottom: 15px;
            }
        }

        .btnEntete{
            width : 250px;
            color : white;
            background: linear-gradient(to bottom, rgb(249, 90, 249), rgb(166, 61, 166));
            padding : 20px 30px;
            border-radius : 39px;
            border-width: 0;
            cursor : pointer ;
            &:hover{
                background: linear-gradient(to bottom, #ff8ae0, #842d5d);
            }
        }

        .fonctionnement{
            padding: 20px 5%;
            
            h2{
                @include robotoText();
                padding-bottom: 10px;
            }     
        }

        .etapeFonctionnement{
            display : flex;
            justify-content : space-between;
        }

        .etapeNumero{
            display : flex;
            align-items : center;
            padding: 15px 15px 15px 0px;
            margin-bottom: 30px;
            border-radius: 15px;
            background-color: $thirdColor;
            p{
                margin-right : 15px;
                margin-left : -5px;
            }
            i{
                margin-right : 10px;
                color: grey;
            }
            span{
                font-size: 0.8rem;
                font-weight : bold;
                padding-right : 8px;
            }
        }

        .etapeNumero:hover{
            i{
                color : darkviolet;
            }
        }

        .numeroStyle{
            width : 20px;
            height : 20px;
            font-size : 12px;
            border-radius : 50%;
            background-color : darkviolet;
            color : white;
            display : flex;
            justify-content : center;
            align-items : center;
        }
    
        .backgroundResto{
            background-color: $thirdColor;
            padding-bottom: 30px;
            margin-top: 30px;
            h2{
                @include robotoText();
                padding-left: 5%;
                padding-bottom : 20px;
            }}
        
            
        
            .restoConteneur{
                margin-top: 15px;
                display : flex;
                flex-wrap: wrap;
                .flexRestoConteneur{
                    padding-bottom: 15px;
                    margin-right : 25px;
                    display : flex;
                    flex-direction : column;
                    img{
                        border-radius : 10px 10px 0% 0%;
                        height : 150px;
                        width : 100%;
                        object-fit: cover;
                    }
                    h3{
                        @include robotoText();
                        padding-left : 10px;
                    }
                    
                    .coeurEloigne{
                        display : flex;
                        align-items : center;
                        justify-content : space-between;
                        margin-top : 0;
                        p{
                            padding-left : 10px;
                        }
                    }
                }

                .coeur{
                    position : relative;
                    height : 30px;
                    width : 30px;
                }
        
                .coeurPlein, .coeurVide{
                    position : absolute;
                    font-size : 25px;
                    margin-top : -5px;
                    transition : opacity 500ms ease;
                }
        
                .coeurVide{
                    opacity : 1;
                    color : black;
                    &:hover{
                        opacity : 0;
                    }
                }
        
                .coeurPlein{
                    opacity : 0;
                    color : rgb(166, 61, 166);
                    &:hover{
                        opacity: 1;
                    }
                }

                .etiquetteNouveau{
                    position: relative;
                    display: inline-block;
                }
                .etiquetteNouveau::after{
                    content: "Nouveau";
                    width: 63px;
                    height: 20px;
                    color: rgb(17, 133, 92);
                    background-color: rgba(153, 244, 192, 0.985);
                    right : 5%;
                    bottom: 75%;
                    display: block;
                    padding : 5px;
                    position : absolute;
                    border-radius : 5px;
                }
            }
            .flexRestoConteneur{ 
                width : 40%;
                margin-left : 5%;
                margin-bottom: 20px;
                background-color: white;
                border-radius : 10% 10% 10% 10%;
                a{
                text-decoration: none;
                color : black;
            }
        }

        .footerAccueil{
            padding-top : 30px;
            padding-bottom : 30px;
            padding-left: 5%;
            background-color : #353535;
            color : white;
            h3{
                margin-left : 85%;
                margin-bottom : -10px;
                font-size : 0.8rem;
            }
            .flexFooterAccueil{
                padding-top: 10px;
                display : flex;
                justify-content : center;
            }
        }
            .flexIconeTexte{
                margin-bottom: 6px;
                margin-left : 10px;
                font-size : 0.8rem;
                span:hover{
                    cursor : pointer;
                }
            } 

            .espaceFlexIcone{
                padding-left: 25px;
            }
        

        
            @keyframes loaderAnimation {
                0% {
                  transform: translateX(0%);
                }
                30%{
                    transform : translateX(0%)
                }
                100% {
                  transform:  translateX(500%);
                }
              }
              
              @keyframes cacher {
                0% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                  visibility: hidden;
                }
              }
              
              @keyframes roule {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(21600deg); 
                }
              }
              
        
              
              #loader-position {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                z-index: 9999;
                animation: cacher 1s ease 4s forwards;
              }
              
              .loader {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Shirkhand', cursive;
                font-weight: bolder;
                font-style: italic;
                font-size: 120px;
                animation: loaderAnimation 5s ease-in;
              }
              
              .tourneAnime {
                animation: roule 5s ease-in;
              }
            
        

        

    
}




