h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

p,
span {
  font-family: "Roboto" sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(242, 237, 237);
}

.coeurPlein {
  font-size: 30px;
  transition: color 3s;
}
.coeurPlein:hover {
  color: red;
  cursor: pointer;
}

@media (max-width: 700px) {
  .logoFleche {
    display: flex;
    align-items: center;
    background-color: rgb(242, 237, 237);
    padding-top: 10px;
  }
  .logoFleche img {
    object-fit: cover;
    height: 20%;
    width: 60%;
    background-color: rgb(242, 237, 237);
    padding-left: 20%;
  }
  .logoFleche i {
    font-size: 150%;
    margin-right: 20px;
    background-color: rgb(242, 237, 237);
  }
  .photoRestoPage img {
    height: 200px;
    width: 100%;
    margin-top: 15px;
    position: relative;
  }
  .carteMenu {
    background-color: rgb(242, 237, 237);
    width: 100%;
    border-radius: 15px 15px 0 0;
    position: absolute;
    margin-top: -40px;
    padding-top: 30px;
    z-index: 1;
  }
  .carteMenu h1 {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 900;
    font-size: x-large;
    padding-left: 10px;
    background-color: rgb(242, 237, 237);
    font-family: "Shrikhand", cursive;
    font-weight: bold;
  }
  .restoCoeur {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .restoCoeur i {
    margin-bottom: 17px;
    padding-right: 17px;
  }
  .coeur {
    position: relative;
    height: 30px;
    width: 30px;
    margin-top: -7px;
    margin-right: 20px;
  }
  .coeurPlein, .coeurVide {
    position: absolute;
    font-size: 25px;
    margin-top: -5px;
    transition: opacity 3s ease;
  }
  .coeurVide {
    opacity: 1;
    color: black;
  }
  .coeurVide:hover {
    opacity: 0;
  }
  .coeurPlein {
    opacity: 0;
    color: purple;
  }
  .coeurPlein:hover {
    opacity: 1;
  }
  .entreesPlatsDesserts p {
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .ecartPrix {
    padding-right: 10px;
  }
  .assemblage {
    display: flex;
    align-items: center;
  }
  .entreesPlatsDesserts .under {
    border-bottom: solid 1px;
    border-color: rgba(153, 244, 192, 0.985);
  }
  .entreesPlatsDesserts .notUnder {
    margin-left: 0px;
    margin-top: -1px;
  }
  .ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .platCoche {
    display: flex;
    align-items: center;
  }
  .platCoche:hover input {
    transform: translateX(0%);
    opacity: 1;
  }
  input {
    height: 19px;
    width: 19px;
    margin-left: 10px;
    transform: translateX(2000%);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 1200ms ease-in-out;
  }
  .platCompo {
    margin-bottom: 20px;
    height: 50px;
    width: 95%;
    margin-left: 7px;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
  }
  .platCompo h3 {
    padding-left: 15px;
    text-overflow: ellipsis;
  }
  .compoPrix {
    display: flex;
    justify-content: space-between;
  }
  .compoPrix p {
    margin-left: 15px;
    padding-bottom: 0px;
  }
  .un,
  .deux,
  .trois,
  .quatre,
  .cinq,
  .six,
  .sept,
  .huit,
  .neuf,
  .dix {
    opacity: 0;
    transition: opacity 3s ease;
  }
  .un {
    transition-delay: 0s;
  }
  .deux {
    transition-delay: 2s;
  }
  .trois {
    transition-delay: 4s;
  }
  .quatre {
    transition-delay: 6s;
  }
  .cinq {
    transition-delay: 8s;
  }
  .six {
    transition-delay: 10s;
  }
  .sept {
    transition-delay: 12s;
  }
  .huit {
    transition-delay: 14s;
  }
  .neuf {
    transition-delay: 16s;
  }
  .dix {
    transition-delay: 18s;
  }
  .declenche:hover .un,
  .declenche:hover .deux,
  .declenche:hover .trois,
  .declenche:hover .quatre,
  .declenche:hover .cinq,
  .declenche:hover .six,
  .declenche:hover .sept,
  .declenche:hover .huit,
  .declenche:hover .neuf,
  .declenche:hover .dix {
    opacity: 1;
  }
  .placeBouton {
    display: flex;
    justify-content: center;
  }
  .placeBouton .btnEntete {
    color: white;
    background: linear-gradient(to bottom, #FF79DA, #e066b2);
    padding: 20px 40px;
    border-radius: 39px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: background 300ms ease;
  }
  .btnEntete:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(249, 90, 249), rgb(166, 61, 166));
    transition: background 0.3s ease;
  }
  .btnEntete:hover:hover {
    background: linear-gradient(to bottom, #ff8ae0, #842d5d);
  }
  .footerAccueil {
    margin-top: 905px;
    padding: 20px 0;
    background-color: rgb(64, 63, 63);
    color: white;
  }
  .footerAccueil h3 {
    margin: 10px 0;
    font-weight: bold;
    font-family: "Shrikhand", cursive;
    font-weight: bold;
  }
  .footerAccueil a {
    text-decoration: none;
    color: white;
  }
  .flexIconeTexte {
    margin-bottom: 6px;
  }
}
@media (min-width: 701px) and (max-width: 1600px) {
  .logoFleche {
    display: flex;
    align-items: center;
    background-color: rgb(242, 237, 237);
    padding-top: 10px;
  }
  .logoFleche img {
    object-fit: cover;
    height: 30px;
    width: 170px;
    background-color: rgb(242, 237, 237);
    margin-left: 40%;
  }
  .logoFleche i {
    font-size: 150%;
    margin-right: 20px;
    background-color: rgb(242, 237, 237);
  }
  .photoRestoPage img {
    height: 200px;
    width: 100%;
    margin-top: 15px;
    position: relative;
    object-fit: cover;
  }
  .carteMenu {
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgb(242, 237, 237);
    width: 60%;
    margin: 0 20%;
    border-radius: 15px 15px 0 0;
    position: absolute;
    margin-top: -40px;
    padding-top: 30px;
    z-index: 1;
  }
  .carteMenu h1 {
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 900;
    font-size: x-large;
    background-color: rgb(242, 237, 237);
    font-family: "Shrikhand", cursive;
    font-weight: bold;
  }
  .restoCoeur {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .restoCoeur i {
    margin-bottom: 17px;
    padding-left: 17px;
  }
  .coeur {
    position: relative;
    height: 30px;
    width: 30px;
  }
  .coeurPlein, .coeurVide {
    position: absolute;
    font-size: 25px;
    margin-top: -5px;
    transition: opacity 3s ease;
  }
  .coeurVide {
    opacity: 1;
    color: black;
  }
  .coeurVide:hover {
    opacity: 0;
  }
  .coeurPlein {
    opacity: 0;
    color: purple;
  }
  .coeurPlein:hover {
    opacity: 1;
  }
  .entreesPlatsDesserts p {
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .platCoche {
    display: flex;
    align-items: center;
  }
  .platCoche:hover input {
    transform: translateX(0%);
    opacity: 1;
  }
  input {
    height: 19px;
    width: 19px;
    margin-left: 10px;
    transform: translateX(2000%);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 1200ms ease-in-out;
  }
  .platCompo {
    margin-bottom: 20px;
    height: 50px;
    width: 95%;
    margin-left: 7px;
    border-radius: 10px;
    background-color: white;
  }
  .platCompo h3 {
    padding-left: 15px;
    text-overflow: ellipsis;
  }
  .ecartPrix {
    padding-right: 10px;
  }
  .assemblage {
    display: flex;
    align-items: center;
  }
  .entreesPlatsDesserts .under {
    border-bottom: solid 1px;
    border-color: rgba(153, 244, 192, 0.985);
  }
  .entreesPlatsDesserts .notUnder {
    margin-left: 0px;
  }
  .un,
  .deux,
  .trois,
  .quatre,
  .cinq,
  .six,
  .sept,
  .huit,
  .neuf,
  .dix {
    opacity: 0;
    transition: opacity 3s ease;
  }
  .un {
    transition-delay: 0s;
  }
  .deux {
    transition-delay: 2s;
  }
  .trois {
    transition-delay: 4s;
  }
  .quatre {
    transition-delay: 6s;
  }
  .cinq {
    transition-delay: 8s;
  }
  .six {
    transition-delay: 10s;
  }
  .sept {
    transition-delay: 12s;
  }
  .huit {
    transition-delay: 14s;
  }
  .neuf {
    transition-delay: 16s;
  }
  .dix {
    transition-delay: 18s;
  }
  .declenche:hover .un,
  .declenche:hover .deux,
  .declenche:hover .trois,
  .declenche:hover .quatre,
  .declenche:hover .cinq,
  .declenche:hover .six,
  .declenche:hover .sept,
  .declenche:hover .huit,
  .declenche:hover .neuf,
  .declenche:hover .dix {
    opacity: 1;
  }
  .compoPrix {
    display: flex;
    justify-content: space-between;
  }
  .compoPrix p {
    margin-left: 15px;
    padding-bottom: 0px;
  }
  .placeBouton {
    display: flex;
    justify-content: center;
  }
  .placeBouton .btnEntete {
    color: white;
    background: linear-gradient(to bottom, rgb(249, 90, 249), rgb(166, 61, 166));
    padding: 20px 40px;
    border-radius: 39px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-width: 0;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .placeBouton .btnEntete:hover {
    background: linear-gradient(to bottom, #ff8ae0, #842d5d);
  }
  .footerAccueil {
    margin-top: 905px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    background-color: rgb(33, 55, 55);
    color: white;
  }
  .footerAccueil h3 {
    margin-left: 85%;
    margin-bottom: -30px;
    font-size: 0.8rem;
  }
  .footerAccueil .flexFooterAccueil {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  .flexIconeTexte {
    margin-bottom: 6px;
    margin-left: 10px;
    font-size: 0.8rem;
  }
  .flexIconeTexte span {
    color: white;
    font-style: none;
  }
  .footerPage2 {
    margin-top: 975px;
  }
  .espaceFlexIcone {
    padding-left: 20px;
  }
}

/*# sourceMappingURL=stylePage.css.map */
